body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
  line-height: 1.7;
}

.container {
  max-width: 900px !important;
  margin: 0 auto;
  padding: 30px 20px;
  background: #fff;
  border-radius: 12px;
}

#HeadPic {
  width: 90%;
  max-width: 1100px;
  display: block;
  margin: 20px auto;
}


h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.byline {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.chart-frame {
  width: 100%;
  min-width: 100%;
  border: none;
  border-radius: 12px;
  height: 380px;
  margin-top: 10px;
}


.row {
  margin-bottom: 25px;
}

h3, h4 {
  font-weight: 700;
  margin-bottom: 15px;
}


footer {
  text-align: center;
  padding: 20px 0;
  color: #777;
  font-size: 0.9rem;
}
